@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>

    <div class="text-center">
        <br />
        <div class="card">
            <div class=" card-body">
                <form id="loginForm">
                    <input name="username" value="username" class="form-control" />
                    <input name="password" value="password" type="text" class="form-control" />
                </form>
                <button class="btn btn-success">Login</button>
            </div>
        </div>

        <div class="card">
            <div class=" card-body">
                <form id="registerForm">
                    <input name="username" value="" class="form-control"/>
                    <input name="password" value="" type ="text" class="form-control"/>
                    <input id="passwordConfirm" value="" type ="text" class="form-control"/>

                </form>
                <button class="btn btn-success">Register</button>
            </div>
        </div>

        <br />
        <div class="row row-cols-1 row-cols-md-2">

            <div class="col mb-4">
                <div class="card">
                    <img src="Art1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Art from Wantosavant page</h5>
                        <p class="card-text">These pieces come from my facebook page</p>
                        <a href="https://www.facebook.com/Wantosavant"target="_blank" class="btn btn-primary">Wantosavant on facebook</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="Graph1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pictures from #UrbanArt group</h5>
                        <p class="card-text">There are more pictures on my facebook group</p>
                        <a href="https://www.facebook.com/groups/1377515325760033"target="_blank" class="btn btn-primary">#UrbanArt on facebook</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="text-center">
            <p>Please upload a file here</p>
            <form method="post" enctype="multipart/form-data">
                <input name="uploader" placeholder="Your Name" />
                <input name="UploadedFile" type="file" asp-for="UploadedFile" />
                <input type="submit" />
            </form>
            <div class="list-group">
                @foreach (var f in Model.FileList) {
                    <a href="/uploads/@f.Name" class="list-group-item list-group-item-action">@f.Name</a>
                    @if (Model.isImage(f)) {

                        <img class="uploaded" src="uploads/@f.Name" />
                    }
                }
            </div>
        </div>
    </div>
<br />
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
</nav>
<p>Come see me on Facebook <a href="https://www.facebook.com/andrew.power.5686">Andrew Power</a>.</p>
<p>Follow me on Twitter <a href="https://twitter.com/Wantosavant1">Wantosavant1</a>.</p>
